<h1>Products#edit</h1>
<h3>Update Product Details</h3>
<%= form_with model: @product do |form| %>
  <%= form.text_field :title, placeholder: "Title" %>
  <%= form.text_field :description, placeholder: "Description" %>
  <%= form.text_field :category, placeholder: "Category" %>
  <%= form.text_field :url, placeholder: "URL" %>


  <%= form.submit %>
<% end %>
